<!DOCTYPE html>
{% load static %}
{% load i18n %}
<link rel="icon" type="image/png" href="{% static 'images/resume-icon.png' %}">
<link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
<main>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title %}Home page{% endblock %}</title>
</head>
<body>
    <header class="main-header">
        <div class="header-content">
            <h1 class="title">{% block text_header %}Home page{% endblock %}</h1>
        </div>
    </header>

    <div class="button-container">
        <a href="/"><button class="button">{{ headers_data.resume }}</button></a>
        <a href="/shorten_link/"><button class="button">{{ headers_data.projects }}</button></a>
        <a href="/contact/"><button class="button">{{ headers_data.leave_feedback }}</button></a>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="text" type="hidden" value="{{ redirect_to }}">

            <button type="submit" name="language" value="en" {% if LANGUAGE_CODE == "en" %}disabled{% endif %}>
                EN
            </button>

            <button type="submit" name="language" value="uk" {% if LANGUAGE_CODE == "uk" %}disabled{% endif %}>
                UK
            </button>
        </form>
    </div>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
</main>