{% extends 'base.html' %}

{% block title %}{{ headers_data.leave_feedback }}{% endblock %}

{% block text_header %}{{ headers_data.leave_feedback }}{% endblock %}

{% block content %}
<form method="post" action="{% url 'contact' %}" class="black-text">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" title="The comment will appear after the admin approves it">{{ headers_data.submit_comment }}</button>
</form>

{% for comment in comments %}
<div id="comment">
  <div id="comment-name">{{ comment.name }}</div>
  <div id="comment-text">{{ comment.text }}</div>
  <div id="comment-created_at">{{ comment.created_at }}</div>
</div>
{% endfor %}

{% endblock %}