{% extends 'base.html' %}

{% block title %}{{ headers_data.text_encryption }}{% endblock %}

{% block text_header %}{{ headers_data.text_encryption }}{% endblock %}

{% block content %}
<p>{{ resume_data.encrypt_text | linebreaks | safe }}</p>
<form method="post" action="{% url 'encryption' %}">
    {% csrf_token %}
    <p><label for="id_key">{{ headers_data.key }}:</label></p>
    {{ form.key }}
    <br>
    <p><label for="id_message">{{ headers_data.message }}:</label></p>
    {{ form.text }}
    <br>
    <button type="submit" name="action" value="encrypt">{{ headers_data.encrypt }}</button>
    <button type="submit" name="action" value="decrypt">Decrypt</button>
</form>
{% endblock %}