{% extends 'base.html' %}

{% block title %}Резюме{% endblock %}

{% block text_header %}Резюме{% endblock %}

{% block content %}
<h2>Данные:</h2>
<ul>
    <li>Телефон: +380981068799</li>
    <li>Электронная почта: porozovivan090@gmail.com</li>
    <li>Город: Каменское</li>
    <li>Дата рождения: 16 декабря 1999 года</li>
</ul>

<h2>Образование:</h2>
<ul>
    <li>Университет таможенного дела и финансов (УТДФ), г. Днепр</li>
    <li>Специальность: Кибербезопасность</li>
    <li>Завершил обучение в 2021 году после 4 курсов</li>
</ul>

<h2>Опыт работы:</h2>
<p>
    Инженер по автоматизации тестирования в компании Pecode (с марта 2022 года по август 2023 года)
</p>
<ul>
    <li>Разработка и поддержка автоматизированных тестов с использованием Python, pytest, request, Selenium и
        библиотеки os.</li>
    <li>Создание новых тестовых случаев для обеспечения полного покрытия функциональности приложений.</li>
    <li>Запуск и мониторинг тестов на удаленных сервисах, включая Browserstack и Pipeline.</li>
    <li>Анализ результатов тестирования и подготовка подробных отчетов для команды разработки.</li>
    <li>Участие в процессе код-ревью и совместной работе с коллегами-разработчиками для улучшения качества
        программного обеспечения.</li>
    <li>Постоянное обучение и совершенствование навыков, чтобы эффективно справляться с новыми вызовами в
        динамичной среде.</li>
</ul>

<h2>Навыки:</h2>
<ul>
    <li>Языки программирования: Python, SQL</li>
    <li>Фреймворк: Django</li>
    <li>Базовые знания HTML, CSS и JavaScript</li>
    <li>Знание Git и систем контроля версий</li>
    <li>Знание английского языка (уровень B1 по CEFR)</li>
    <li>Умение работать в команде и хорошая обучаемость</li>
    <li>Хорошие аналитические и проблемно-ориентированные навыки</li>
</ul>

<h2>О себе:</h2>
<p>
    Ищу возможность перейти из сферы тестирования в сферу разработки на Python и применить свои знания и навыки для
    создания высококачественного программного обеспечения. У меня крепкое владение Python, и я готов учиться и
    профессионально развиваться в динамичной команде. Готов к переезду в любой город Украины.
</p>

<a href="admin/"><button class="button"></button></a>
{% endblock %}