{% extends 'base.html' %}

{% block title %}{{ headers_data.resume }}{% endblock %}

{% block text_header %}{{ headers_data.resume }}{% endblock %}

{% block content %}
<div class="main-info">

    <ul>
        <li>{{ headers_data.name }}: {{ .name }}</li>
        <li>{{ headers_data.phone }}: {{ resume_data.phone }}</li>
        <li>{{ headers_data.email }}: {{ resume_data.email }}</li>
        <li>{{ headers_data.date_of_birth }}: {{ resume_data.date_of_birth }}</li>
    </ul>
</div>

<div class="education">
    <h2>{{ headers_data.education }}:</h2>
    {{ resume_data.education | linebreaks | safe }}
</div>

 <div class="experience">
    <h2>{{ headers_data.experience }}:</h2>
    {{ resume_data.work_experience | linebreaks | safe }}
</div>

 <div class="skills">
    <h2>{{ headers_data.skills }}:</h2>
    {{ resume_data.skills | linebreaks | safe }}
</div>

<div class="about-me">
    <h2>{{ headers_data.about_me }}:</h2>
    <p>{{ resume_data.about_me | linebreaks | safe }}</p>
</div>


<a href="admin/"><button class="button"></button></a>
{% endblock %}