{% extends 'base.html' %}

{% block title %}{{ headers_data.enter_link_to_shorten }}{% endblock %}

{% block text_header %}{{ headers_data.enter_link_to_shorten }}{% endblock %}

{% block content %}
    <form method="post" action="{% url 'shorten' %}">
        {% csrf_token %}
        <label for="original_link"><p></p></label>
        {{ form.original_link }}
        <button type="submit">{{ headers_data.reduce }}</button>
    </form>
    {% if short_link %}
    <p>Your link: <a href="{{ short_link }}">{{ short_link }}</a></p>
    {% endif %}
{% endblock %}